@page
@model ArApiProvider.Pages.RoomPlansModel

@{
    ViewData["Title"] = "Room Plans";
}

<h3>Room Plans</h3>
<div class="row">
    @foreach (var room in Model.RoomPlanList)
    {
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/lib/floorplan.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@(room.Name)</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong> Height</strong>
                        <span>@(room.Height)</span>
                    </li>
                    <li class="list-group-item">
                        <strong> Width </strong>
                        <span>@(room.Width)</span>
                    </li>
                </ul>
                <div class="card-body">
                    <a href="/RoomPlanEditor?RoomId=@(room.Id)" class="card-link">Edit Room</a>
                </div>
            </div>
            <br/>
        </div>
    }
</div>
