@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2> Manage the AR API </h2>
    <p>Check out the UI API <a href="/swagger">Swagger Doc</a>.</p>
</div>

<div class="row">
    <div class="col-md-6 offset-md-3 col-12">
        <a href="/RoomPlans" class="btn btn-primary btn-lg btn-block">Select a Room Plan</a>
    </div>
</div>